@media  screen and (min-width: 650px) {
    #menu{
        display: none;
    }
    .h-socials {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
    .h-socials img:hover{
        transform: translateY(-4px);
      
    }
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: sticky;
    }
    
    nav {
       position: static;
       transform: translateX(0);
       width: auto;
       max-width: none;
       height: auto;
       background: none;
       padding: 0;
        
    }

    nav ul {
    
        display: flex;
        flex-direction: row;
        overflow: none;
        position: static;
        transform: translateX(0);
        width: auto;
        max-width: none;
        height: auto;
        background: none;
        padding: 0;
    }
    nav ul li a {
        padding: 1rem;
        margin: .5rem;
    }
    .animate-me:hover, .animate-me a.active {
        background: #04AA6D;
        color: #fff;
    }

    .nav-profile {
        display: none;
    }
    .nav-skills{
        display: none;
    }
    .nav-cta {
        display: none;
    }
    .hero-buttons {

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .5rem;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .about-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: left;
    }
    #contact-info, #social-links {
        border-right: 4px solid rgba(98, 16, 16, 0.047);
    }
    .contact-section {
        grid-template-columns: 1fr 1fr 2fr;
        gap: 1rem;
        height: 100%;
        padding: 1rem;
        
    }
    footer .footer-skills h4, span {
        display: flex;
        flex-direction: column;
        
    }
    .footer-skills{
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    }
    footer{
        grid-template-columns: repeat(4, 1fr);
    }
  
    

}