* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
html{
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    background: #0d1321;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.5;
    color: #f8fafc;

}
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    position: relative;
}
.container {
    display: flex;
    
    align-items: center;
}
#menu {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    top: 1rem;
    padding: .5rem;
    z-index: 2000;
}
#menu::before{
    content: "☰";
}
#menu.show::before {
    content: '❌';
}
nav {
    display: flex;
    justify-content: flex-start;
    right: 0;
    top: 1rem;
    height: 100vh;
    width: 50%;
    max-width: 320px;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.35s ease;
    z-index: 900;
    padding: 2rem;
    background: #1b2438;
    cursor: pointer;
    
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
nav.show {
    transform: translateX(0);
   

}


.hero-container {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

}
.hero-img img {
    width: 300px;
    height: 300px;
    border-radius: 10rem;
    
}
.hero-text {
    color: white;
    margin: 1rem;
    border: 1px groove #374151;
    border-radius: 1rem;
    background-color: #1b2438;
}
.hero-buttons {
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-items: center;

}
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  
}

.primary {
  background: #2563eb;
  color: white;
}

.primary:hover {
  background: #1e40af;
}

.secondary {
  border: 2px solid #2563eb;
  color: #2563eb;
  margin-left: 1rem;
}

.secondary:hover {
  background: #2563eb;
  color: white;
}
h1, h2 {
    text-align: center;
    margin-top: 2rem;
    
}
h2{
    text-decoration: underline;
}
.projects-container {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
   justify-items: center;
}
.project-card {
    background: #1e293b;
    padding: .5rem;
    border-radius: 1rem;
    text-align: center;
    width: 100%;
}
    

.project-card img {
    height: 200px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    width: 100%;
}
.project-card img:hover{
    transform: translateY(-4px);
}
.project-card .tech {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  color: #2bb673;
  font-weight: 500;
}
.project-card p {
  font-size: 0.95rem;
  line-height: 1.6;
  text-align: center;
}
.project-card a {
    text-decoration: none;
    color: white;
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: .4rem;
    margin-top: 2rem;
    background: navy;
}
.project-card a:hover {
    transform: translateY(-4px);
    
}
h3{
    text-decoration: underline;
}


footer {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 2rem;
    background: #222121;
    color: white;
    text-align: left;
    padding: 1rem;
    margin-top: 2rem;
}
footer h4{
    margin-bottom: 1rem;
}
footer .socials, .contact {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.socials img:hover{
    transform: translateY(-4px);
}
.h-socials {
    display: none;
}
footer .footer-links  {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.footer-links a {
    color: #e5e7eb;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}
footer .last-item {
    grid-column: 1 / -1;
    text-align: center;
}
.last-item p {
    margin: 0;
    font-style: italic;
    font-size: small;
}


