* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    background: rgb(11, 11, 34);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    display: flex;
    
    align-items: center;
}
#menu {
    float: right;
    margin-right: 1rem;
    margin-top: 1rem;
    top: 1rem;
    padding: .5rem;
    
}
#menu::before{
    content: "☰";
}
#menu.show::before {
    content: '❌';
}
nav {
    display: none;
    overflow: hidden;
    cursor: pointer;
    
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: rgb(11, 11, 34);
    width: 100%;
    margin-left: 17rem;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
nav.show {
    display: block;
}


.hero-container {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    justify-content: space-evenly;
    flex-wrap: wrap;


}
.hero-img img {
    width: 300px;
    height: 300px;
    border-radius: 10rem;
    
}
.hero-text {
    color: white;
    margin: 1rem;
}
.hero-buttons {
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
    align-self: center;
    justify-items: center;

}
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  
}

.primary {
  background: #2563eb;
  color: white;
}

.primary:hover {
  background: #1e40af;
}

.secondary {
  border: 2px solid #2563eb;
  color: #2563eb;
  margin-left: 1rem;
}

.secondary:hover {
  background: #2563eb;
  color: white;
}

footer {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 2rem;
    background: #222121;
    color: white;
    text-align: left;
    padding: 1rem;
    margin-top: 2rem;
}
footer h4{
    margin-bottom: 1rem;
}
.socials img:hover{
    transform: translateY(-4px);
}
.h-socials {
    display: none;
}
.footer-links {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    gap: .5rem;
}
.footer-links a {
    color: #e5e7eb;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}
footer .last-item {
    grid-column: 1 / -1;
    text-align: center;
}
.last-item p {
    margin: 0;
    font-style: italic;
    font-size: small;
}


