* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
html{
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    font-family: "Source Sans Pro",sans-serif;
    background: #0d1321;
    width: 100%;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.5;
    color: #f8fafc;
    
}
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    background-color: #1e40af;
}

#menu {
    top: 0;
    position: absolute;
    right: 0;
    margin-right: 1rem;

    padding: .5rem;
    z-index: 9999;
}
#menu::before{
    content: "☰";
}
#menu.show::before {
    content: '❌';
}
header{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #1e40af;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #111827;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1500;
    padding: 12px 24px;
    overflow-y: auto;
    overflow-x: hidden;
}
nav ul {
    display: flex;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 12px;
}

nav a:hover, nav a.active {
  background: #04AA6D;
  color: #fff;
}
nav.show {
    transform: translateX(0);
}



/* PROFILE INFO */
.nav-profile {
  margin-top: auto;
  border-top: 1px solid #333;
  padding-top: 1rem;
}

.nav-profile h3 {
  color: #fff;
  margin-bottom: 0.3rem;
}

.nav-profile p {
  color: #aaa;
  font-size: 0.9rem;
}

.nav-profile {
  margin-bottom: 2rem;
  color: white;
}
.nav-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.nav-skills span {
  color: #fff;
  font-size: 0.75rem;
  padding: 2px 6px;
  margin: 2px;
  border-radius: 4px;
}
.nav-cta {
    text-decoration: underline;
    cursor: pointer;
}

.nav-profile p {
  opacity: 0.7;
  font-size: 0.85rem;
}



.hero-container {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

}
.hero-img img {
    width: 300px;
    height: 300px;
    border-radius: 10rem;
    
}
.hero-text {
    color: white;
    margin: 1rem;
    border: 1px groove #374151;
    border-radius: 1rem;
    background-color: #1b2438;
}
.hero-buttons {
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-items: center;

}
.hero-text span{
    font-size: 1.2rem;
    color: #3b82f6;
    font-weight: 500;
    text-align: center;
}
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  
}

.primary {
  border: 2px solid #2563eb; 
  color: white;
}

.primary:hover {
  background: #1e40af;
}

.secondary {
  border: 2px solid #2563eb;
  color: white;
  margin-left: 1rem;
}

.secondary:hover {
  background: #2563eb;
  color: white;
}
h1, h2 {
    text-align: center;
    margin-top: 2rem;
    
}
h2, h4{
    text-decoration: underline;
}
.projects-container {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
   justify-items: center;
   overflow: hidden;
}
.project-card {
    background: #1e293b;
    padding: .5rem;
    border-radius: 1rem;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
    

.project-card img {
    height: 200px;
    border-radius: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    width: 100%;
   
}
.project-card img:hover{
    transform: translateY(-4px);
 
}
.project-card .tech {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.85rem;
  color: #77ee16;
  font-weight: 500;
}
.project-card p {
  font-size: 0.95rem;
  line-height: 1.6;
  text-align: center;
}
.project-card a {
    text-decoration: none;
    color: white;
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: .4rem;
    margin-top: 2rem;
   
}
.project-card a:hover {
    transform: translateY(-4px);
    
}
h3{
    text-decoration: underline;
}
.about-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding-bottom: 2rem;
 
}
.about-container img {
    width: 100%;
    height: 250px;
    margin-bottom: 1rem;
    object-fit: cover;
}
.about-text {
    color: white;
    border: 1px groove #374151;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #1b2438;
    text-align: center;
    
}
.about-text p {
  font-size: 0.95rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 1rem;

}
.about-text a {
    color: white;
    text-decoration: underline;
   
    padding: .2rem;
    margin-top: 5rem;
}

.about-text a:hover {
    background: #3b82f6;
}

footer {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 2rem;
    background: #222121;
    color: white;
    text-align: left;
    padding: 1rem;
    margin-top: 2rem;
}
footer h4{
    margin-bottom: 1rem;
}
footer .socials, .contact {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.socials img:hover{
    transform: translateY(-4px);
}
.h-socials {
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    margin-top: .5rem;
}
footer .footer-links  {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    gap: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.footer-links a {
    color: #e5e7eb;
    text-decoration: none;
}
.footer-links a:hover {
    text-decoration: underline;
}
footer .last-item {
    grid-column: 1 / -1;
    text-align: center;
}
footer .footer-skills h4, span{
    display: none;
}
.last-item p {
    margin: 0;
    font-style: italic;
    font-size: small;
}


